# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
**/packages/*
*.log
.DS_Store
Thumbs.db

# Puppeteer Chromium
.local-chromium/
